This dataset is scraped from 'Google News' Search Results regarding WAR and Conflicts in 21 different countries. The search query keywords are [country] + War. For instance, 'Ukraine War'. The dataset contains 'Headline', 'Summary', 'Press', 'Date', and 'Keyword'.
The Keyword is the name of the country which is queried in Google News. You can find about 5600 news headlines in the dataset with the topic of WAR. The Google War News Country keywords are:
[Afghanistan, Algeria, Chins, Cuba, France, India, Iran, Iraq, Israel, Lebanon, Libya, Nigeria, Pakistan, Palestine, Russia, Sudan, Syria, Ukraine, Venezuela, Vietnam, Yemen ]
This dataset is suitable for different Text Analysis and Natural Language Processing tasks such as Classification, News Similarity (Clustering), Name Entity Recognition (NER), Topic Modeling, NEWS Generation!, Inline Question Answering and any other tasks.
If you want to get your hands dirty with text analysis regarding WARS, this dataset is FOR YOU!

Please note:

    The dataset is not cleaned or preprocessed.
    The Date of scraping the data is May 10, 2022. So if you see the NEWS DATE eg. 20 hours ago, consider the date from 5/10/2022!
    The license of the dataset belongs to the data collector, Me.
    Feel free to download, share and use the data, but I'd be so happy and appreciated it if you VOTE FOR THE DATASET in case you find it helpful.

**I hope there will be NO WAR in every land on this planet. **

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from dateutil import parser
import opendatasets as od
from datetime import datetime, date, time

In [2]:
news =pd.read_csv(r'C:\Users\godwi\GitHub\Python-Pandas\google-war-news\war-news.csv',encoding='cp1252')

In [3]:
news.head()

,Unnamed: 0,Headlines,Summary,Press,Date,Keyword
0,0,I served in Iraq and Afghanistan but the horro...,A WAR hero traumatised by the horrors of comba...,The Sun,1 day ago,Afghanistan
1,1,The forever war in Afghanistan is nowhere near...,Islamic State is seeking to overthrow the Tali...,ThePrint,2 weeks ago,Afghanistan
2,2,"Hell at Abbey Gate: Chaos, Confusion and Death...","In firsthand accounts, Afghan civilians and U....",ProPublica,1 month ago,Afghanistan
3,3,‘A second Afghanistan’: Doubts over Russia’s w...,Russia's lack of progress in its war against U...,Al Jazeera,5 days ago,Afghanistan
4,4,Afghanistan: Former army general vows new war ...,Lt Gen Sami Sadat tells the BBC of planned ope...,BBC,1 week ago,Afghanistan

In [4]:
# find how many headline has Nigeria occured
news[news.Headlines.str.contains('Afgh| Iraq', na= False)]

,Unnamed: 0,Headlines,Summary,Press,Date,Keyword
0,0,I served in Iraq and Afghanistan but the horro...,A WAR hero traumatised by the horrors of comba...,The Sun,1 day ago,Afghanistan
1,1,The forever war in Afghanistan is nowhere near...,Islamic State is seeking to overthrow the Tali...,ThePrint,2 weeks ago,Afghanistan
2,2,"Hell at Abbey Gate: Chaos, Confusion and Death...","In firsthand accounts, Afghan civilians and U....",ProPublica,1 month ago,Afghanistan
3,3,‘A second Afghanistan’: Doubts over Russia’s w...,Russia's lack of progress in its war against U...,Al Jazeera,5 days ago,Afghanistan
4,4,Afghanistan: Former army general vows new war ...,Lt Gen Sami Sadat tells the BBC of planned ope...,BBC,1 week ago,Afghanistan
...,...,...,...,...,...,...
5360,263,Biden Insists Afghanistan Won't Be Vietnam. Wh...,The president went on to say that in the early...,Foreign Policy,9 Jul 2021,Vietnam
5377,280,Biden began his career opposing the Vietnam Wa...,Mr Biden was a young man when the Vietnam War ...,The Independent,9 Jul 2021,Vietnam
5425,328,Vietnam and Afghanistan: A tale of two wars an...,The Vietnam War comes a close second with a fo...,The Federal News,16 Apr 2021,Vietnam
5489,56,Ukraine joins Afghanistan and Yemen in shaping...,Geopolitical shockwaves from the Taliban takeo...,Responsible Statecraft,5 days ago,Yemen
5494,61,Ukraine war could worsen crises in Yemen and A...,"Yemenis displaced by the conflict, receive foo...",RNZ,4 weeks ago,Yemen

In [17]:
# find how many headline has Nigeria occured
news[news.Summary.str.contains('Nigeria|Islam', na= False)].groupby('Press').count()['Keyword'].sort_values(ascending = False).to_frame()

                           Keyword
Press
The Guardian Nigeria News       26
Premium Times Nigeria           24
Vanguard News                   17
BBC                             15
Al Jazeera                      14
...                            ...
New Security Beat                1
New Lines Magazine               1
Middle East Institute            1
Lowy Institute                   1
openDemocracy                    1

[109 rows x 1 columns]

In [13]:
# lets clean up the date column
## news.Date = pd.to_datetime(news['Date']).day