In [2]:
import pandas as pd
import numpy as np
from datetime import datetime,time, date

In [ ]:
lrock = pd.read_csv('https://onedrive.live.com/edit.aspx?resid=F99C2B193D86C687!17717')
lrock

In [5]:
lrock.shape

(13641, 13)

In [6]:
lrock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13641 entries, 0 to 13640
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   raw_row_number      13641 non-null  object
 1   date                13641 non-null  object
 2   time                13641 non-null  object
 3   lat                 331 non-null    float64
 4   lng                 331 non-null    float64
 5   subject_age         13615 non-null  float64
 6   subject_race        13634 non-null  object
 7   subject_sex         13609 non-null  object
 8   type                13641 non-null  object
 9   citation_issued     13641 non-null  bool
 10  outcome             13641 non-null  object
 11  vehicle_type        13641 non-null  object
 12  raw_defendant_race  13641 non-null  object
dtypes: bool(1), float64(3), object(9)
memory usage: 1.3+ MB

In [7]:
# During a search, how often is the driver frisked?

In [8]:
lrock.raw_defendant_race.value_counts()

AFRICAN AMERICAN    7044
CAUCASIAN           6028
UNKNOWN              376
ASIAN                177
AMERICAN INDIAN        9
Null value             7
Name: raw_defendant_race, dtype: int64

In [46]:
# how many false are black Americans
lrock[lrock.raw_defendant_race == 'AFRICAN AMERICAN'].subject_sex == 'female'

1         True
2        False
3        False
4         True
5        False
         ...
13636    False
13637    False
13638    False
13639    False
13640     True
Name: subject_sex, Length: 7044, dtype: bool

In [76]:
# total number of offenders
lrock['subject_sex'].value_counts().sum()

13609

In [74]:
#number of male to female
lrock['subject_sex'].value_counts().to_frame()

        subject_sex
male           7380
female         6229

In [73]:
# % of male to female 
round( lrock['subject_sex'].value_counts(1).to_frame(),2)

        subject_sex
male           0.54
female         0.46

In [77]:
# Does gender affect who gets searched during a stop
lrock.head()

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
0,8620|12751,2017-01-01,01:50:15,NaN,NaN,55.0,white,male,vehicular,True,citation,Other,CAUCASIAN
1,5296|10153|13440|14777,2017-01-01,05:24:24,NaN,NaN,52.0,black,female,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
2,16622,2017-01-01,05:56:20,NaN,NaN,35.0,black,male,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
3,4386,2017-01-01,06:35:46,NaN,NaN,20.0,black,male,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
4,6497|17819,2017-01-01,07:48:45,NaN,NaN,22.0,black,female,vehicular,True,citation,Sports Utility Vehicle,AFRICAN AMERICAN