# An analysis of Globepays transaction decline - Recommendations

In [22]:
import pandas as pd

In [23]:
import numpy as np

In [24]:
import datetime

# Importing the 1st dataset

In [25]:
# import the dataset
gp_ac = pd.read_csv\
(r'C:\Users\godwi\GitHub\Python-Pandas\Globepay\Globepay Acceptance Report.csv')

In [26]:
gp_ac.head(7)  # cchecking first 7 rows

,external_ref,status,source,ref,date_time,state,cvv_provided,amount,country,currency,rates
0,nCyEIIGaP5QQ2Wqb-_Rt8,True,GLOBALPAY,evt_1ESgcCOV7fY1ChY1MkZizZt,2019-01-01T00:00:00.000Z,DECLINED,False,1020.46,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,..."
1,ptNiI9B7NNpK7VsMZx6zZ,True,GLOBALPAY,evt_1EBMGCEjEtianKMJaZXOx1y,2019-01-01T04:48:00.000Z,ACCEPTED,False,1582.57,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,..."
2,1GS5BDKBnauCt-3nHPs6x,True,GLOBALPAY,evt_1EOALu0AZqEhZBn9ub_nbcE,2019-01-01T09:36:00.000Z,DECLINED,False,1653.07,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,..."
3,Y_oecYz8GjBDaxmMqkkLQ,True,GLOBALPAY,evt_1ESHsWyaSPqE1mrmJ2B6rvs,2019-01-01T14:24:00.000Z,ACCEPTED,False,2228.17,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,..."
4,LlEs1TnKVa2xX6PH9Zsz0,True,GLOBALPAY,evt_1EjzPk13qLzmvDR_4hXuMMw,2019-01-01T19:12:00.000Z,ACCEPTED,False,2589.92,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,..."
5,XMiBCl0zkTGdVu_IgKNbS,True,GLOBALPAY,evt_1ESWbgipcFeU4B6eW5kWMgn,2019-01-01T00:00:00.000Z,ACCEPTED,False,1509.12,MX,MXN,"{""CAD"":1.4150668250112406,""EUR"":0.924750490289..."
6,unSNmffbtST60mDH0WpUc,True,GLOBALPAY,evt_1Exxzo9M0d271kmuX5kNmRL,2019-01-01T04:48:00.000Z,ACCEPTED,False,1923.13,MX,MXN,"{""CAD"":1.4150668250112406,""EUR"":0.924750490289..."

# Importing the 2nd dataset

In [27]:
# import the dataset
gp_cb = pd.read_csv\
(r'C:\Users\godwi\GitHub\Python-Pandas\Globepay\Globepay Chargeback Report.csv')

In [28]:
gp_cb.head(7)  # cchecking first 7 rows

            external_ref  status     source  chargeback
0  _-UTDS0dMlagMWEtQKMy-    True  GLOBALPAY       False
1  _0fqf75KiPa0iiviKCSsU    True  GLOBALPAY       False
2  _0H9Ecd_RctsLetId-p14    True  GLOBALPAY       False
3  _0wBrMzAzIhO3fQRWUcBH    True  GLOBALPAY       False
4  _25jZuGDrmwUEdAwKp1xV    True  GLOBALPAY       False
5  _2TnPB1sTeVMRGgPeJgPq    True  GLOBALPAY       False
6  _37I67fDT_R1JwRLapxub    True  GLOBALPAY       False

# Merging the two datasets 'inner join'

In [29]:
#merging the two datasets
gp_merged1 = pd.merge(gp_ac, gp_cb, left_on = 'external_ref',right_on = 'external_ref',how = 'inner')

In [30]:
gp_merged1.head(7) # cchecking first 7 rows

,external_ref,status_x,source_x,ref,date_time,state,cvv_provided,amount,country,currency,rates,status_y,source_y,chargeback
0,nCyEIIGaP5QQ2Wqb-_Rt8,True,GLOBALPAY,evt_1ESgcCOV7fY1ChY1MkZizZt,2019-01-01T00:00:00.000Z,DECLINED,False,1020.46,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,...",True,GLOBALPAY,False
1,ptNiI9B7NNpK7VsMZx6zZ,True,GLOBALPAY,evt_1EBMGCEjEtianKMJaZXOx1y,2019-01-01T04:48:00.000Z,ACCEPTED,False,1582.57,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,...",True,GLOBALPAY,True
2,1GS5BDKBnauCt-3nHPs6x,True,GLOBALPAY,evt_1EOALu0AZqEhZBn9ub_nbcE,2019-01-01T09:36:00.000Z,DECLINED,False,1653.07,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,...",True,GLOBALPAY,False
3,Y_oecYz8GjBDaxmMqkkLQ,True,GLOBALPAY,evt_1ESHsWyaSPqE1mrmJ2B6rvs,2019-01-01T14:24:00.000Z,ACCEPTED,False,2228.17,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,...",True,GLOBALPAY,True
4,LlEs1TnKVa2xX6PH9Zsz0,True,GLOBALPAY,evt_1EjzPk13qLzmvDR_4hXuMMw,2019-01-01T19:12:00.000Z,ACCEPTED,False,2589.92,US,USD,"{""CAD"":1.415,""EUR"":0.926,""MXN"":25.103,""USD"":1,...",True,GLOBALPAY,True
5,XMiBCl0zkTGdVu_IgKNbS,True,GLOBALPAY,evt_1ESWbgipcFeU4B6eW5kWMgn,2019-01-01T00:00:00.000Z,ACCEPTED,False,1509.12,MX,MXN,"{""CAD"":1.4150668250112406,""EUR"":0.924750490289...",True,GLOBALPAY,True
6,unSNmffbtST60mDH0WpUc,True,GLOBALPAY,evt_1Exxzo9M0d271kmuX5kNmRL,2019-01-01T04:48:00.000Z,ACCEPTED,False,1923.13,MX,MXN,"{""CAD"":1.4150668250112406,""EUR"":0.924750490289...",True,GLOBALPAY,True

# Checking the shape / number or rows and columns

In [31]:
gp_merged1.shape  # 5430 rows and 14 columns

(5430, 14)

# Find count of declined vs accepted

In [32]:
# find count of declined and accepted
gp_merged1.groupby('state').count()['status_x'].to_frame()

          status_x
state
ACCEPTED      3777
DECLINED      1653

# Compute the acceptance rate”  defined as the number of accepted transactions divided by the total attempted transactions

In [33]:
accep_rate = gp_merged1.groupby('state').count().loc[:,['status_x']]  

accep_rate = (accep_rate.iloc[0,0]) / (accep_rate.iloc[0,0]  + accep_rate.iloc[1,0] ) *100
accep_rate.round(2) # the acceptance rate in %

69.56

# Checking the data types in the dataset

In [34]:
gp_merged1.info(verbose= False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5430 entries, 0 to 5429
Columns: 14 entries, external_ref to chargeback
dtypes: bool(4), float64(1), object(9)
memory usage: 487.9+ KB

# Preparing our dataframe with columns required

In [35]:
gp_merged2 = gp_merged1.loc[:, ['status_x','date_time','state',\
'cvv_provided','amount','country','currency','chargeback']]

gp_merged2.head()

,status_x,date_time,state,cvv_provided,amount,country,currency,chargeback
0,True,2019-01-01T00:00:00.000Z,DECLINED,False,1020.46,US,USD,False
1,True,2019-01-01T04:48:00.000Z,ACCEPTED,False,1582.57,US,USD,True
2,True,2019-01-01T09:36:00.000Z,DECLINED,False,1653.07,US,USD,False
3,True,2019-01-01T14:24:00.000Z,ACCEPTED,False,2228.17,US,USD,True
4,True,2019-01-01T19:12:00.000Z,ACCEPTED,False,2589.92,US,USD,True

# Check r/ship between cvv_provided and state(accepted or declined)

In [36]:
# check r/ship between cvv_provided and state(accepted or declined)
gp_merged_cvv_state = gp_merged2[gp_merged2.state.str.contains('DECLINED')]\
.groupby(['cvv_provided','state']).count()

gp_merged_cvv_state2= gp_merged_cvv_state.loc[:,['status_x']]
gp_merged_cvv_state2

                       status_x
cvv_provided state
False        DECLINED      1638
True         DECLINED        15

# Check card decline - country relationship

In [37]:
# check card decline country relationship
gp_merged2[gp_merged2['state'].str.contains('DECLINED')]\
.groupby(['state','country']).\
sum().loc[:, ['status_x','amount']].sort_values(['status_x','amount']\
,ascending = [False,False]).rename({'amount' : 'sales_rev'},axis = 1)

                  status_x    sales_rev
state    country
DECLINED US            297  25125669.78
         AE            291  26335152.43
         CA            275  25583266.66
         FR            271  24609910.18
         MX            261  21970362.99
         UK            258  19713233.74

# Check chargebacks

In [38]:
gp_cbks = gp_merged2.groupby(['state', 'chargeback']).sum()

In [39]:
gp_cbks.amount = gp_cbks.amount.apply(lambda x: '%.2f' % x)

In [40]:
gp_cbks

                     status_x  cvv_provided        amount
state    chargeback
ACCEPTED False           3554            24  326952410.18
         True             223             1    1786623.30
DECLINED False           1653            15  143337595.78